extends layout

block content
  h1 La Divina
  p
    | Destacado
  a(href="/evento/1") Evento 1
  p
  a(href="/evento/2") Evento 3
  p
  a(href="/evento/3") Evento 2
  p 
  | Más Eventos
  body
    .container
      .row
        .column.one-third
          h2  
          a(href="/Comprar") La Obra de Paco
          p  @Paquitoelmasbajito
          a(href="/perfil") Paco Lorenzo
             h2  
          a(href="/Comprar") Baila con Nosotros
          p  @Juanitaalimaña
          a(href="/perfil") Martha Juana