extends layout

block content
  .profile-container
    .profile-picture
      img(src="profile-picture-url", alt="Profile picture")
    .profile-info
      h2.username Usuario
      p.user-description Presentacion
      form(action="/profile/edit", method="post")
        button.edit-profile-button Edit Profile

 