extends layout

block content
    h1 Listado de ususarios
    hr
        pre Nombre      Apellido        Dirección
        pre Will        Smith           New York 
        pre Tony        Stark           Miami 
        pre Milley      Cirus           Alabama   "Milley":Unknown word.
        hr